<template>
  <div>
    <app-widget
      :app="app"
      :textHeader="$t('menu.data.tableServerside')"
      hasAdd
      hasDelete
      @click-delete="$confirmDelete(selected)"
    >
      <app-table
        hasUpdate
        hasDelete
        serverside
        :app="app"
        :filter.sync="filter"
        :fields="fields"
        :items="items"
        :perPage.sync="perPage"
        :currentPage.sync="currentPage"
        :totalRows.sync="totalRows"
        :isBusy="isBusy"
        :selected.sync="selected"
        @edit="edit"
        @delete="$confirmDelete"
        @server="getItems"
      ></app-table>
    </app-widget>

    <!-- modal -->
    <app-modal
      :app="app"
      @submit-update="submit_update = true"
      @close-add="close_add = true"
      @close-update="close_update = true"
    >
      <template slot="update-modal">
        <pre>
          {{update_data}}
        </pre>
      </template>
    </app-modal>
  </div>
</template>

<script>
export default {
  name: 'datatable',
  data () {
    return {
      app: 'data_table',
      submit_add: false,
      submit_update: false,
      close_add: false,
      close_update: false,
      clear_select: false,
      formData: {},
      items: [],
      fields: [
        {
          key: 'select',
          label: 'Select'
        },
        {
          key: 'title',
          label: 'Title',
          sortable: true
        },
        {
          key: 'actions',
          label: 'Actions'
        }
      ],
      filter: '',
      perPage: 10,
      currentPage: 1,
      totalRows: 0,
      update_data: null,
      selected: [],
      isBusy: false
    }
  },
  mounted () {
    this.initData()
  },
  methods: {
    initData () {
      this.getItems({
        filter: this.filter,
        sortBy: '',
        sortDesc: 'asc',
        page: this.currentPage,
        perPage: this.perPage,
      })
    },
    getItems (info) {
      this.isBusy = true
      this.$api(`datatable?_page=${info.page}&_limit=${info.perPage}&q=${info.filter}&_sort=${info.sortBy}&_order=${info.sortDesc}`)
        .then(response => {
          this.totalRows = parseInt(response.headers['x-total-count'])
          this.items = response.data
          this.isBusy = false
        }).catch(error => {
          console.error(error)
        })
    },
    edit (item) {
      this.update_data = item
      this.$bvModal.show('update-modal')
    },
    $submitDelete (data) { // onsubmit delete
      return new Promise((resolve, reject) => {
        // remove items are selected
        this.items = this.items.filter(value => !data.includes(value.id))
        this.selected = []

        // rerender data
        this.initData()
        resolve(true)
      })
    }
  }
}
</script>
