.main-header {
  box-shadow: $box-shadow-sm;
  background-color: $header-bg;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: $header-zindex;
  height: $header-height-sm;

  .navbar {
    font-family: $headings-font-family;
    color: $navbar-color;
    padding: 5px 15px;

    &-brand {
      display: block;
      padding: 10px 0;
      margin-right: 0;
      background-color: $header-logo-bg;
      transition: $sidebar-transition;

      .logo {
        display: block;
        height: 25px;
        width: 100%;
        background: $header-logo-img no-repeat center center;
        background-size: auto 100%;
      }
    }

    .sidebar-toggle {
      margin-right: 1em;
      color: $navbar-color;
    }

    &-company-name {
      display: none;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &-nav {
      align-items: center;

      .nav {
        &-item {
          &:not(:last-child) {
            margin-right: .75rem;
          }

          &:not(.nav-notice):not(.nav-profile) {
            .dropdown-toggle {
              &:after {
                @extend %fa-icon;
                @extend .fas;
                content: fa-content($fa-var-angle-down);
                border-width: 0 !important;
                display: none;

                @include media-breakpoint-up(lg) {
                  display: block;
                }
              }
            }
          }

          &.show {
            .nav-link {
              background-color: $brand-base;
            }
          }
        }

        &-link {
          color: $navbar-color;
          min-width: 35px;
          height: 35px;
          padding: 0 5px;
          border-radius: 5px;
          display: flex;
          justify-content: center;
          align-items: center;

          &:after {
            display: none;
          }
        }

        &-lang {
          .nav-link {
            @include media-breakpoint-up(lg) {
              border-radius: 10rem;
              padding: 0 10px 0 5px;
              box-shadow: $nav-link-shadow;
              background-color: rgba($white, 0.1);
            }
          }

          .lang {
            &-icon {
              width: 25px;
              height: 25px;
              border-radius: 100%;
              display: inline-block;
              background-position: center center;
            }

            &-title {
              margin-left: 10px;
            }
          }

          .dropdown {
            &-item {
              display: flex;
              align-items: center;
            }
          }
        }

        &-notice {
          .nav {
            &-link {
              @include media-breakpoint-up(lg) {
                min-width: 45px;
                height: 45px;
              }
            }
          }

          .notice {
            &-icon {
              font-size: 35px;
              position: relative;
              height: 35px;
              display: flex;
              justify-content: center;
              align-items: center;
            }

            &-badge {
              display: flex;
              justify-content: center;
              align-items: center;
              background-color: $noti-color;
              width: 15px;
              height: 15px;
              border-radius: 100%;
              font-size: 10px;
              position: absolute;
              top: 0;
              right: 0;
              color: $white;
            }

            &-title {
              white-space: normal;
            }

            &-time {
              color: $text-muted;
              font-weight: 300;
            }

            &-avatar {
              width: 100%;
              height: 100%;
              object-fit: cover;
              border-radius: 100%;
            }
          }

          .dropdown {
            &-menu {
              @include media-breakpoint-up(lg) {
                min-width: 450px;
              }
            }

            &-header {
              display: flex;
              justify-content: space-between;
              align-items: flex-end;
              border-bottom: 1px solid $border-color;

              &-text {
                font-size: 1.5em;
              }
            }

            &-footer {
              padding: 10px 15px;
              text-align: center;
              border-top: 1px solid $border-color;
            }

            &-item {
              display: flex;
            }
          }
        }

        &-profile {
          .nav-link {
            @include media-breakpoint-up(lg) {
              height: 45px;
            }
          }

          .profile {
            &-detail {
              display: none;
              margin-right: 10px;
              text-align: right;

              @include media-breakpoint-up(lg) {
                display: block;
              }
            }

            &-name {
              font-weight: bold;
              margin-bottom: -6px;
            }

            &-img {
              width: 35px;
              height: 35px;
              border-radius: 100%;
            }
          }

          .dropdown {
            &-menu {
              overflow: visible;

              li {
                &:first-child {
                  .dropdown-item {
                    border-top-left-radius: $dropdown-border-radius;
                    border-top-right-radius: $dropdown-border-radius;
                  }
                }

                &:last-child {
                  .dropdown-item {
                    border-bottom-left-radius: $dropdown-border-radius;
                    border-bottom-right-radius: $dropdown-border-radius;
                  }
                }
              }
            }

            &-item {
              &-icon {
                min-width: 30px;
                display: inline-block;
              }
            }

            &-submenu {
              position: relative;

              &:hover {
                .dropdown-submenu-content {
                  display: block;
                }
              }

              &-content {
                display: none;
                position: absolute;
                top: 0;
                left: -100%;
              }

              >.dropdown-item {
                position: relative;
                padding-right: 1.75rem;

                &::before {
                  @include font-awesome-fas;
                  content: '\f105';
                  position: absolute;
                  right: .75rem;
                  top: 50%;
                  transform: translateY(-50%);
                }
              }
            }
          }
        }
      }

      .dropdown {
        &-item {
          padding: 10px 15px;
        }
      }
    }
  }

  // 992px up
  @include media-breakpoint-up(lg) {
    display: flex;

    .navbar {
      &-brand {
        display: flex;
        align-items: center;
        width: $sidebar-width-sm + 15px;
        background-color: $header-logo-bg;
        transition: $sidebar-transition;

        .logo {
          height: 35px;
          background-position: center center;
        }
      }

      &-company-name{
        display: inline-block;
      }

      &-expand{
        flex-grow: 1;
      }
    }
  }

  // 1200px up
  @include media-breakpoint-up(xl) {
    .navbar {
      &-brand {
        width: $sidebar-width;

        .logo{
          background-position: center center;
        }
      }
    }
  }
}

.sidebar-toggle>.main-header {

  // 992px up
  @include media-breakpoint-up(lg) {
    .navbar {
      &-brand{
        width: $sidebar-width;
        transition: $sidebar-transition;

        .logo{
          background-position: center center;
        }
      }
    }
  }

  // 1200px up
  @include media-breakpoint-up(xl) {
    .navbar {
      &-brand {
        width: $sidebar-width-sm;
        transition: $sidebar-transition;

        .logo {
          background-position: center center;
        }
      }
    }
  }
}
