.tabs {
  .nav-pills {
    .nav-link {
      &.active {
        color: $brand-default;
        background-color: rgba($brand-default, 0.2);
        border-right: 3px solid $brand-default;
        border-radius: unset;
      }
  
      &:not(.active) {
        color: $brand-secondary !important;
      }
    }
  }
}