@import './variables';
@import './fonts';
@import './mixin';
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-vue/src/index.scss';
@import './tab';
@import './button';
@import './header';
@import './_sidebar';
@import './custom';

body {
  height: 100%;

  #app {
    font-family: $font-family-base;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: $darkest-gray;
    height: 100%;
  }
}
