<template>
  <b-row>
    <b-col cols="12">
      <b-card>
        <b-card-text>
          <b-input-group>
            <b-form-input :placeholder="$t('forms.label.search')" type="search" v-model="search"/>
            <b-input-group-append>
              <b-button class="input-group-text" size="md">
                <font-awesome-icon icon="search"/>
              </b-button>
            </b-input-group-append>
          </b-input-group>
        </b-card-text>
      </b-card>
    </b-col>
    <b-col cols="12" class="mt-4">
      <app-widget
        :app="app"
        :textHeader="$t('menu.data.axios')"
        hasAdd
        hasDelete
        @click-delete="$confirmDelete"
      >
        <b-row>
          <b-col cols="12" v-if="data != null">
            <h5 class="border-top border-bottom border-primary p-3">{{data.base}} ({{data.date}})</h5>
            <label v-for="(rate, currency) in data.rates" :key="currency">
              <div v-if="currency != data.base">
                <b style="color: darkblue" class="pl-3">{{currency}}</b>: {{rate}}
              </div>
            </label>
          </b-col>
        </b-row>
      </app-widget>
    </b-col>

    <!-- modal -->
    <app-modal
      :app="app"
      @submit-add="submit_add = true"
      @submit-update="submit_update = true"
      @close-add="close_add = true"
      @close-update="close_update = true"
    >
      <template slot="add-modal">
        <add
          :submit.sync="submit_add"
          :close.sync="close_add"
        ></add>
      </template>

      <template slot="update-modal">
        <update
          :submit.sync="submit_update"
          :close.sync="close_update"
        ></update>
      </template>
    </app-modal>
  </b-row>
</template>

<script>
import Add from './Add'
import Update from './Update'

export default {
  name: 'data-axios',
  components: {
    Add,
    Update
  },
  data () {
    return {
      app: 'data_axios',
      search: '',
      data: null,
      submit_add: false,
      submit_update: false,
      close_add: false,
      close_update: false,
    }
  },
  mounted () {
    this.getCurrency()
  },
  methods: {
    getCurrency () { // get currency to show in widget
      this.$api({
        method: 'get',
        url: 'https://api.exchangeratesapi.io/latest?base=USD'
      }).then(response => {
        this.data = response.data
      }).catch((error) => {
        console.error(error)
      })
    }
  },
}
</script>
