<template>
  <div>
    <b-card class="mb-5">
      <b-card-text>
        Using <a href="https://apexcharts.com/">ApexCharts</a>
      </b-card-text>
    </b-card>
    <iframe
      class="dashboard"
      src="https://apexcharts.com/samples/vanilla-js/dashboards/modern/index.html"
      scrolling="no"
      style="height: 1143px; width: 100%; border: none;"
    ></iframe>
  </div>
</template>

<script>
export default {
  name: 'dashboard'
}
</script>
