<template>
  <div>
    <b-form-row class="align-items-center mb-3">
      <b-col xl="auto">
        {{ $t('forms.label.show') }}
      </b-col>
      <b-col xl="auto">
        <b-form-select
          id="page-option"
          :options="pageOptions"
          v-model="statePerPage"
          @change="changePerPage($event)"
        />
      </b-col>
      <b-col xl="auto">
        {{ $t('forms.label.entries') }}
      </b-col>
      <b-col xl class="d-flex justify-content-end">
        <b-form-row class="align-items-center">
          <b-col xl="auto">
            {{ $t('forms.label.search') }}:
          </b-col>
          <b-col xl="auto">
            <b-form-input id="search" @keyup="changeFilter($event)"/>
          </b-col>
        </b-form-row>
      </b-col>
    </b-form-row>

    <!-- Main table element -->
    <b-table
      show-empty
      stacked="md"
      hover
      class="border-bottom"
      responsive="sm"
      :no-local-sorting="serverside ? true : false"
      :items="items"
      :fields="fields"
      :current-page="serverside ? 1 : currentPage"
      :per-page="perPage"
      :filter="serverside ? '' : filter"
      :busy="isBusy"
      :sort-by.sync="sortBy"
      :sort-desc.sync="sortDesc"
      @filtered="tableFilter"
    >
      <div slot="table-busy" class="text-center text-danger my-2">
        <b-spinner class="align-middle"></b-spinner>
        <strong class="pl-2">Loading...</strong>
      </div>

      <template v-for="field in fields" :slot="field.key" slot-scope="row">
        <!-- @slot Slot HEAD_fields as bootstrap vue -->
        <slot :name="`HEAD_${field.key}`" :row="row">
          {{field.label}}
        </slot>
      </template>

      <template v-for="field in fields" :slot="field.key" slot-scope="row">
        <!-- @slot Slot fields as bootstrap vue -->
        <slot :name="field.key" :row="row">
          {{row.value}}
        </slot>
      </template>

      <template slot="HEAD_select">
        <b-form-checkbox
          v-if="hasDelete && $store.getters.userPermission.includes(`${app}.delete`)"
          v-model="select_all"
          @change="selectAll($event)"
        ></b-form-checkbox>
        <b-form-checkbox
          v-else
          v-model="select_all"
          disabled
        ></b-form-checkbox>
      </template>

      <template slot="select" slot-scope="row">
        <b-form-checkbox
          v-if="hasDelete && $store.getters.userPermission.includes(`${app}.delete`)"
          @change="toggleSelected($event, row.item.id)"
          v-model="stateSelected"
          :value="row.item.id"
        ></b-form-checkbox>
        <b-form-checkbox
          v-else
          v-model="select_all"
          disabled
        ></b-form-checkbox>
      </template>

      <template slot="actions" slot-scope="row">
        <b-button
          v-if="hasUpdate && $store.getters.userPermission.includes(`${app}.update`)"
          class="btn-icon"
          variant="warning"
          size="sm"
          v-b-tooltip.hover
          title="Edit"
          @click="emitEdit(row.item)"
        >
          <font-awesome-icon icon="edit" />
        </b-button>
        <b-button
          v-if="hasDelete && $store.getters.userPermission.includes(`${app}.delete`)"
          class="btn-icon ml-2"
          variant="danger"
          size="sm"
          v-b-tooltip.hover
          title="Delete"
          @click="emitDelete([row.item.id])"
        >
          <font-awesome-icon icon="trash" />
        </b-button>
      </template>
    </b-table>

    <b-row>
      <b-col class="my-0">
        <b-pagination
          class="my-0"
          align="right"
          v-model="stateCurrentPage"
          :total-rows="totalRows"
          :per-page="perPage"
          @change="changePage($event)"
        ></b-pagination>
      </b-col>
    </b-row>
  </div>
</template>

<script>
export default {
  name: 'app-table',
  props: {
    /**
     * App that using this component for validate permission
     */
    app: {
      type: String,
      required: true
    },
    /**
     * Filter for search
     */
    filter: {
      type: String,
      default: ''
    },
    /**
     * Table headers
     */
    fields: {
      type: Array,
      required: true
    },
    /**
     * Table items
     */
    items: {
      type: Array,
      required: true
    },
    /**
     * Page entries
     */
    perPage: {
      type: Number,
      default: 10
    },
    /**
     * Current page
     */
    currentPage: {
      type: Number,
      default: 1
    },
    /**
     * Total number of items
     */
    totalRows: {
      type: Number,
      required: true
    },
    /**
     * Table loading
     */
    isBusy: {
      type: Boolean,
      required: true
    },
    /**
     * Page entries
     */
    pageOptions: {
      type: Array,
      default: () => {
        return [10, 25, 50, 100]
      }
    },
    /**
     * Show edit button
     */
    hasUpdate: {
      type: Boolean,
      default: false
    },
    /**
     * Show delete button
     */
    hasDelete: {
      type: Boolean,
      default: false
    },
    /**
     * Select all value
     */
    selected: {
      type: Array,
      default: () => {
        return []
      }
    },
    /**
     * Use server side
     */
    serverside: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      statePerPage: null,
      stateCurrentPage: null,
      select_all: false,
      stateSelected: [],
      sortBy: '',
      sortDesc: false,
    }
  },
  mounted () {
    this.changeFilter = this.lodash.debounce(this.changeFilter, 700) // set delay to filter event
    this.emitUpdateTotalRows(this.items.length) // update total rows to items length on default
    this.statePerPage = this.perPage // set state variable
    this.stateCurrentPage = this.currentPage // set state variable
  },
  watch: {
    sortBy (value) {
      this.emitServer()
    },
    sortDesc (value) {
      this.emitServer()
    },
    selected (value, old) {
      // deseleted all if not things is seleted
      if (value.length === 0) {
        this.select_all = false
        this.stateSelected = []
      }
    },
  },
  methods: {
    async changePage (event) { // on change page
      this.stateCurrentPage = event
      await this.emitUpdateCurrentPage(event)
      this.emitUpdateSelected([])
      this.emitServer()
    },
    async changePerPage (value) { // on change per page
      await this.emitUpdatePerPage(value)
      this.statePerPage = this.perPage
      this.emitUpdateSelected([])
      this.emitServer()
    },
    async changeFilter (event) { // on key filter
      await this.emitUpdateFilter(event.target.value)
      await this.emitUpdateCurrentPage(1) // Trigger pagination to update the number of buttons/pages due to filtering
      this.emitServer()
    },
    tableFilter (filteredItems) { // call back filter from table (only when not server side)
      this.emitUpdateTotalRows(filteredItems.length)
    },
    selectAll (event) { // on check select all
      let selects = []
      if (event) {
        selects = [...this.items]
        if (!this.serverside) {
          selects = selects.splice((this.currentPage - 1) * this.perPage, this.perPage) // get item list
        }
        selects = selects.map(value => value.id) // get only id
      }
      this.emitUpdateSelected(selects)
      this.stateSelected = selects
    },
    toggleSelected (event, id) { // on select row
      let selects = [...this.selected]
      if (event) {
        selects.push(id)
      } else {
        selects.splice(selects.indexOf(id), 1)
      }
      this.emitUpdateSelected(selects)
    },
    emitUpdatePerPage (value) {
      /**
       * Update per page
       * @type {Sync}
       */
      this.$emit('update:perPage', value)
    },
    emitUpdateTotalRows (value) {
      /**
       * Update total row to filter items
       * @type {Sync}
       */
      this.$emit('update:totalRows', value)
    },
    emitUpdateCurrentPage (value) {
      /**
       * Update current page value
       * @type {Sync}
       */
      this.$emit('update:currentPage', value)
      this.stateCurrentPage = this.currentPage
    },
    emitUpdateFilter (value) {
      /**
       * Update filter value
       * @type {Sync}
       */
      this.$emit('update:filter', value)
    },
    emitUpdateSelected (value) {
      /**
       * Update selected value
       * @type {Sync}
       */
      this.$emit('update:selected', value)
    },
    emitServer () {
      if (this.serverside) { // only serverside to send data
        /**
         * Passthrough event for server side
         * @type {Event}
         */
        let emitData = {
          filter: this.filter,
          sortBy: this.sortBy,
          sortDesc: this.sortDesc ? 'desc' : 'asc',
          page: this.currentPage,
          perPage: this.perPage
        }
        this.$emit('server', emitData)
      }
    },
    emitEdit (item) {
      /**
       * Passthrough click edit button
       * @type {Event}
       */
      this.$emit('edit', item)
    },
    emitDelete (value) {
      /**
       * Passthrough click delete button
       * @type {Event}
       */
      this.$emit('delete', value)
    }
  }
}

</script>

<style lang="scss">
.label-group {
  display: flex;
  align-items: center;
  justify-content: center;

  .col {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .entry {
      float: right;
      margin-left: 10px;
      margin-bottom: unset;
    }
  }
}
</style>
