<template>
  <div>
    <b-card
      class="widget"
      header-tag="header"
      :header-bg-variant="bgHeader"
      :header-text-variant="colorHeader"
    >
      <!-- @slot Custom header -->
      <slot name="header" slot="header">
        <b-row>
          <b-col class="pt-2 pb-2">
            <h4 slot="header" class="text-header">
              {{ textHeader }}
            </h4>
          </b-col>
          <b-col class="widget-btn-icon" md="auto" v-if="hasAdd || hasDelete">
            <b-button v-if="hasAdd && $store.getters.userPermission.includes(`${app}.add`)"
              id="addBtn"
              pill
              variant="success"
              size="md"
              v-b-tooltip.hover
              @click="emitClickAdd"
            >
              <font-awesome-icon icon="plus"/>
            </b-button>
            <b-button v-if="hasDelete && $store.getters.userPermission.includes(`${app}.delete`)"
              id="multiDeleteBtn"
              pill
              variant="danger"
              size="md"
              v-b-tooltip.hover
              @click="emitClickDelete"
            >
              <font-awesome-icon icon="trash"/>
            </b-button>
          </b-col>
        </b-row>
      </slot>
      <b-card-text>
        <!-- @slot Content -->
        <slot></slot>
      </b-card-text>
    </b-card>
  </div>
</template>

<script>
export default {
  name: 'app-widget',
  props: {
    /**
     * App that using this component for validate permission
     */
    app: {
      type: String,
      required: true
    },
    /**
     * Widget title
     */
    textHeader: {
      type: String,
      default: 'Header'
    },
    /**
     * Title background color with bootstrap color
     */
    bgHeader: {
      type: String,
      default: 'base'
    },
    /**
     * Title text color with bootstrap color
     */
    colorHeader: {
      type: String,
      default: 'white'
    },
    /**
     * Show add button
     */
    hasAdd: {
      type: Boolean,
      default: false
    },
    /**
     * Show delete button
     */
    hasDelete: {
      type: Boolean,
      default: false
    }
  },
  methods: {
    emitClickAdd () {
      this.$bvModal.show('add-modal')

      /**
       * Passthrough click add button
       * @type {Event}
       */
      this.$emit('click-add')
    },
    emitClickDelete () {
      /**
       * Passthrough click delete button
       * @type {Event}
       */
      this.$emit('click-delete')
    }
  }
}
</script>

<style lang="scss">
.widget {
  .card-header {
    padding: 0 1.25rem;

    .text-header {
      margin: auto;
      vertical-align: middle;
      line-height: 38px;
    }
  }

  .widget-btn-icon {
    button {
      margin-top: 0.5rem;
    }

    button:not(:last-child) {
      margin-right: 0.8rem;
    }
  }
}
</style>
