<template>
  <b-nav-item-dropdown class="nav-notice" right>
    <template slot="button-content">
      <div class="notice-icon">
        <font-awesome-icon :icon="['far','bell']"/>
        <span class="notice-badge">2</span>
      </div>
    </template>

    <vue-perfect-scrollbar class="scroll-area" :settings="settings">
      <b-dropdown-item
        href="#"
        v-for="(option, id) in options"
        :key="id"
      >
        <div class="notice-title">{{option.name}}</div>
        <small class="notice-time">{{option.time}}</small>
      </b-dropdown-item>
    </vue-perfect-scrollbar>
  </b-nav-item-dropdown>
</template>

<script>
export default {
  name: 'notification-dropdown',
  data () {
    return {
      isShown: false,
      settings: {
        maxScrollbarLength: 100,
        wheelSpeed: 0.25,
        wheelPropagation: false
      }
    }
  },
  props: {
    options: {
      type: Array,
      default: () => [
        {
          name: 'Eum minus et vel ut nesciunt perferendis.',
          details: { name: 'Vasily S' },
          time: `${1} นาทีที่แล้ว`
        },
        {
          name: 'Voluptatibus consequatur asperiores voluptatem dignissimos corrupti.',
          details: { name: 'Oleg M', type: 'typography component' },
          time: `${2} นาทีที่แล้ว`
        },
        {
          name: 'Cupiditate id omnis modi facilis rem beatae voluptas hic.',
          details: { name: 'Andrei H' },
          time: `${3} นาทีที่แล้ว`
        },
      ],
    },
  },
}
</script>
