<template>
  <b-nav-item-dropdown class="nav-profile" right>
    <template slot="button-content">
      <div class="profile-detail">
        <div class="profile-name">Daisy Nelson</div>
        <span class="profile-position">Admin</span>
      </div>
      <img src="https://i.imgur.com/nfa5itq.png" class="profile-img"/>
    </template>

    <b-dropdown-item
      v-for="option in options"
      :key="option.name"
      :to="{name: option.redirectTo}"
      href="#"
    >
      <div v-if="option.name == 'logout'" @click="clearAuth">
        {{ $t(`menu.${option.name}`) }}
      </div>
      <template v-else>
        {{ $t(`menu.${option.name}`) }}
      </template>
    </b-dropdown-item>
  </b-nav-item-dropdown>
</template>

<script>
export default {
  name: 'profile-dropdown',
  data () {
    return {
      isShown: false,
      options: [
        {
          name: 'userProfile',
          redirectTo: 'user-profile',
        },
        {
          name: 'logout',
          redirectTo: 'logout',
        },
      ],
    }
  },
  methods: {
    clearAuth () {
      localStorage.removeItem('jwt')
    }
  }
}
</script>
