<template>
  <header class="main-header">
    <b-navbar-brand href="#">
      <span class="logo"/>
    </b-navbar-brand>
    <b-navbar type variant>
      <b-link
        class="sidebar-toggle"
        @click="toggleSidebar"
      >
        <font-awesome-icon icon="bars" style="font-size: 1.5rem;"/>
      </b-link>
      <span class="navbar-company-name"><h5 class="mb-0">Vueszx Admin</h5></span>
      <b-navbar-nav class="ml-auto">
        <language-dropdown/>
        <notification-dropdown/>
        <profile-dropdown/>
      </b-navbar-nav>
    </b-navbar>
  </header>
</template>

<script>
import LanguageDropdown from './dropdowns/LanguageDropdown'
import NotificationDropdown from './dropdowns/NotificationDropdown'
import ProfileDropdown from './dropdowns/ProfileDropdown'

export default {
  name: 'app-navbar',
  components: {
    NotificationDropdown,
    LanguageDropdown,
    ProfileDropdown,
  },
  data () {
    return {
      isOpen: true
    }
  },
  methods: {
    toggleSidebar () {
      this.isOpen = !this.isOpen
      this.$store.commit('setClassToggleSidebar', this.isOpen ? '' : 'sidebar-toggle')
    }
  }
}
</script>
